In [2]:
import pandas as pd

In [3]:
s1 = pd.Series([1,2,3,4,5,6])
print(s1)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [6]:
dct = {
    "Name": ["A","B","C","D","E","F","G","H","I","J"],
    "Age": [23,56,67,25,19,32,34,42,47,52],
    "Occupation": ["S","B","J","S","J","B","B","J","J","J"],
    "Organization": ["Sc","St","W","Sc","W","St","St","T","T","W"]
}

df = pd.DataFrame(dct)
print(df)
df

  Name  Age Occupation Organization
0    A   23          S           Sc
1    B   56          B           St
2    C   67          J            W
3    D   25          S           Sc
4    E   19          J            W
5    F   32          B           St
6    G   34          B           St
7    H   42          J            T
8    I   47          J            T
9    J   52          J            W

  Name  Age Occupation Organization
0    A   23          S           Sc
1    B   56          B           St
2    C   67          J            W
3    D   25          S           Sc
4    E   19          J            W
5    F   32          B           St
6    G   34          B           St
7    H   42          J            T
8    I   47          J            T
9    J   52          J            W